* {
	box-sizing: border-box;
}

.content {
	font-family: 'Open Sans', sans serif;
	margin-left: 30px;
}

.banner {
	background-color: beige;
	font-family: 'Open Sans', sans serif;
}

.subtitle {
	padding: 5px;
}

.input-label {
	margin-right: 5px;
}

.nro-input {
	display: flex;
	flex-direction: row;
}

.submit {
	padding-left: 5px;
}

#people-amt {
	margin-left: 5px;
	margin-right: 5px;
	max-height: 30px;
}

.names {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 5px;
	max-width: 400px;
}

.shape-input {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	max-height: 40px;
}

#shape-choice {
	max-height: 30px;
}

.run {
	font-family: 'Open sans', sans serif;
	margin-top: 25px;
	margin-left: 10px;
}

.result-table {
	display: grid;
	column-gap: 0px;
	row-gap: 0px;
	height: 120px;
	margin-top: 30px;
}

.chair {
	grid-area: chair;
	display: flex;
	border-style: rgb(169, 120, 78);
	border-color: rgb(169, 120, 78);
	background-color: rgb(169, 120, 78);
	width: 100px;
	padding: 0px;
	margin: 0px;
}