* {
	box-sizing: border-box;
}

.content {
	font-family: 'Open Sans', sans serif;
	padding-left: 30px;
	padding-top: 15px;
	background-color: beige;
}

.banner {
	background-color: beige;
	font-family: 'Open Sans', sans serif;
	padding-left: 5px;
	padding-top: 5px;
}

.subtitle {
	padding: 5px;
}

.input-label {
	margin-right: 5px;
	display: flex;
	flex-direction: row;
}

.nro-input {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.name-mode-input {
	margin-top: 5px;
	margin-bottom: 10px;
}

.name-mode-choice {
	margin-right: 10px;
}

.submit {
	padding-left: 5px;
}

#people-amt {
	margin-left: 5px;
	margin-right: 5px;
	max-height: 30px;
	max-width: 100px;
}

.names {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 5px;
	max-width: 400px;
}

.shape-input {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	max-height: 40px;
}

#shape-choice {
	max-height: 30px;

}

#run {
	display: flex;
	font-family: 'Open sans', sans serif;
	margin-top: 25px;
	margin-left: 10px;
}

#result-table {
	display: grid;
	grid-template-columns: repeat(var(--width), 1fr); /*1 fr = one edge chair, 2 fr = one top / bottom chair*/
	grid-template-rows: 1fr 1fr;
	column-gap: 0px;
	row-gap: 0px;
	height: 150px;
	margin-top: 30px;
}

.grid-item {
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	height: 100%;
	width: 100%;
}

.scroll-container {
	display: grid;
	overflow-x: auto;
	overflow-y: hidden;
	height: 100%;
	width: 100%;
}

.left-chair {
	grid-row: 1 / span 2;
	align-items: center;
	justify-content: left;
	padding-left: 10px;
	padding-right: 5px;
}

.right-chair {
	grid-row: 1 / span 2;
	align-items: center;
	justify-content: right;
	padding-right: 10px;
	padding-left: 5px;
}

.top-chair {
	grid-column: span 2;
	grid-row: 1;
	align-items: flex-start;
	justify-content: center;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.bottom-chair {
	grid-column: span 2;
	grid-row: 2;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.chair {
	display: flex;
	background-color: rgb(169, 120, 78);
	margin: 0px;
}

.error {
	color: red;
	display: block;
}
